<div class="template">
   
    <div class="w3-row">
        <div class="w3-third w3-container">
            <h2>Settings</h2>
        </div>
        <div class="w3-third w3-container">
            <div class="w3-center w3-margin">
                <span class="w3-margin w3-medium">{{userService.getCurrentUserCredentials().userName}}</span>
            </div>
        </div>
        <div class="w3-third w3-container">
            <p class="w3-small">
                <span class="w3-small w3-right">
                    <button ng-click="goToDashboard()" class="w3-btn w3-indigo w3-tiny w3-round-xxlarge">
                        Cancel
                    </button>
                    <button ng-click="logout()" class="w3-btn w3-grey w3-tiny w3-round-xxlarge">
                        Logout
                    </button>
                </span>
            </p>
        </div>
    </div>
    
    <div class="w3-row">
        <div class="w3-third w3-container">
            <form name="changePasswordForm">
                <p>
                    <label for="oldPassword">
                        Old password:
                        <br>
                        <input type="password" id="oldPassword" ng-model="changePasswordData.OldPassword" required>
                    </label>
                </p>

                <p>
                    <label for="newPassword">
                        Password:
                        <br>
                        <input type="password" id="newPassword" ng-model="changePasswordData.NewPassword" required>
                    </label>
                </p>

                <p>
                    <label for="confirmNewPassword">
                        Confirm password:
                        <br>
                        <input type="password" id="confirmNewPassword" ng-model="changePasswordData.ConfirmPassword" required>
                    </label>
                </p>

                <p>
                    <input type="submit" value="Save Change" ng-click="saveChangedPassword(changePasswordData)" class="w3-btn w3-indigo">
                    <input type="reset" value="Reset fields" class="w3-btn w3-grey">
                </p>
            </form>
        </div>
    </div>
    
</div>