<div class="template" ng-controller="AuthenticationController">
    <div ng-switch="initialScreenChoice">

<!--       WELCOME SCREEN       -->
       
        <div ng-switch-when="welcome">
            <h2>Welcome to the Issue Tracking System!</h2>
            <h3>Please choose an option:</h3>
            <p>
                <button ng-click="showLoginForm()" class="w3-btn w3-indigo">Login</button>
            </p>
            <p>
                <button ng-click="showRegisterForm()" class="w3-btn w3-indigo">Register</button>
            </p>
        </div>

<!--       LOGIN SCREEN       -->
       
        <div ng-switch-when="login">
            <h2>Login</h2>

            <form name="loginForm">
                <p>
                    <label for="username">
                        Username: <br>
                        <input type="email" id="username" name="email" ng-model="userLoginData.Username" required>
                    </label>
                </p>

                <p>
                    <label for="password">
                        Password: <br>
                        <input type="password" id="password" ng-model="userLoginData.Password" required>
                    </label>
                </p>

                <p>
                    <input type="submit" value="Login" ng-click="login(userLoginData)" class="w3-btn w3-indigo">
                </p>
            </form>

            <p class="w3-small">Are you a new user?
                <button ng-click="showRegisterForm()" class="w3-btn w3-grey">Register</button>
            </p>
        </div>

<!--       REGISTER SCREEN       -->
       
        <div ng-switch-when="register">
            <h2>Register</h2>

            <form name="registerForm">
                <p>
                    <label for="email">
                        Email: <br>
                        <input type="email" id="email" name="email" ng-model="userRegisterData.Email" required>
                    </label>
                </p>

                <p>
                    <label for="password">
                        Password: <br>
                        <input type="password" id="password" ng-model="userRegisterData.Password" required>
                    </label>
                </p>
                
                <p>
                    <label for="confirmPassword">
                        Confirm password: <br>
                        <input type="password" id="confirmPassword" ng-model="userRegisterData.ConfirmPassword" required>
                    </label>
                </p>

                <p>
                    <input type="submit" value="Register" ng-click="register(userRegisterData)" class="w3-btn w3-indigo">
                </p>
            </form>

            <p class="w3-small">Do you already have an account?
                <button ng-click="showLoginForm()" class="w3-btn w3-grey">Login</button>
            </p>
        </div>

<!--       DASHBOARD SCREEN       -->
       
        <div ng-switch-when="dashboard" ng-controller="DashboardController">
    
            <div class="w3-row">
                <div class="w3-third w3-container">
                    <h2>Dashboard</h2>
                </div>
                <div class="w3-third w3-container">
                    <div class="w3-center w3-margin">
                            <span class="w3-margin w3-medium">
                                {{userService.getCurrentUserCredentials().userName}}
                            </span>
                    </div>
                </div>
                <div class="w3-third w3-container">
                    <p class="w3-small">
                        <span class="w3-small w3-right">
                            <button ng-click="showAllProjects()" ng-if="isAdmin" class="w3-btn w3-indigo w3-tiny w3-round-xxlarge">
                                All Projects
                            </button>
                            <button ng-click="goToSettings()" class="w3-btn w3-indigo w3-tiny w3-round-xxlarge">
                                Settings
                            </button>
                            <button ng-click="logout()" class="w3-btn w3-grey w3-tiny w3-round-xxlarge">
                                Logout
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            
            <div class="w3-row">
                
                <div class="w3-quarter w3-container w3-margin">
                    <table class="w3-container w3-table w3-bordered w3-striped w3-hoverable w3-card-4">
                        <tr>
                            <th class="w3-container w3-dark-grey"><h3>Affiliated projects</h3></th>
                        </tr>
                        <tr ng-repeat="project in projectDataSubset">
                            <td ng-click="goToProject(project.key)">{{project.value}}</td>
                        </tr>
                        <tr ng-if="projectsEmpty">
                            <td>There are currently no affiliated projects.</td>
                        </tr>
                    </table>
                    
                    <br>
                    
                    <div class="w3-center">
                        <ul class="w3-pagination w3-border">
                            <li ng-repeat="page in projectPages">
                                <a ng-click="selectProjectPage($event)" value={{page.theNumber}} class={{page.w3Class}}>{{page.theNumber}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="w3-twothird w3-container w3-margin">
                    
                    <table class="w3-container w3-table w3-bordered w3-striped w3-hoverable w3-card-4 w3-small">
                        <tr>
                            <th colspan="5" class="w3-container w3-dark-grey"><h3>Assigned Issues</h3></th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <th colspan="2">Description</th>
                            <th>Project</th>
                            <th>Due date</th>
                        </tr>
                        <tr ng-repeat="issue in issueDataSubset" ng-click="goToIssue(issue.Id)">
                            <td>{{issue.Title}}</td>
                            <td colspan="2">{{issue.Description}}</td>
                            <td>{{issue.Project.Name}}</td>
                            <td>{{issue.DueDate}}</td>
                        </tr>
                        <tr ng-if="issuesEmpty">
                            <td colspan="5">There are currently no assigned issues.</td>
                        </tr>
                    </table>
                    
                    <br>
                    
                    <div class="w3-center">
                        <ul class="w3-pagination w3-border">
                            <li ng-repeat="page in issuePages">
                                <a ng-click="selectIssuePage($event)" value={{page.theNumber}} class={{page.w3Class}}>{{page.theNumber}}</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            
        </div>

    </div>
</div>