<div class="template">
   
<!--   HEADINGS AND BUTTONS -->

<div class="w3-row">
    <div class="w3-third w3-container">
        <h2>Issue Page</h2>
    </div>
    <div class="w3-third w3-container">
        <div class="w3-center w3-margin">
                <span class="w3-margin w3-medium">{{currentUser.userName}}</span>
        </div>
    </div>
    <div class="w3-third w3-container">
        <p class="w3-small">
            <span class="w3-small w3-right">
                <button ng-click="goToDashboard()" class="w3-btn w3-indigo w3-tiny w3-round-xxlarge">
                    Dashboard
                </button>
                <button ng-click="editCurrentIssue()" class="w3-btn w3-red w3-tiny w3-round-xxlarge">
                    Edit
                </button>
                <button ng-click="logout()" class="w3-btn w3-grey w3-tiny w3-round-xxlarge">
                    Logout
                </button>
            </span>
        </p>
    </div>
</div>
    
<!--   TABLES WITH DATA   -->
    
    
<div class="w3-row">
    <div class="w3-third w3-container w3-margin">

        <table class="w3-container w3-table w3-bordered w3-striped w3-card-4 w3-small">
        
            <tr>
                <th colspan="2" class="w3-container w3-dark-grey"><h4>Details</h4></th>
            </tr>
            <tr>
                <th>Issue Key</th>
                <td>{{currentIssue.IssueKey}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{currentIssue.Title}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{currentIssue.Description}}</td>
            </tr>
            <tr>
                <th>Assignee ID</th>
                <td>{{currentIssue.Assignee.Id}}</td>
            </tr>
            <tr>
                <th>Assignee Username</th>
                <td>{{currentIssue.Assignee.Username}}</td>
            </tr>
            <tr>
                <th>Priority ID</th>
                <td>{{currentIssue.Priority.Id}}</td>
            </tr>
            <tr>
                <th>Priority Name</th>
                <td>{{currentIssue.Priority.Name}}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{currentIssue.Author.Username}}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{currentIssue.Project.Name}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{currentIssue.Status.Name}}</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>
                    <span ng-repeat="label in currentIssue.Labels">{{label.Name}} <br></span>
                </td>
            </tr>

        </table>
        
        
    </div>
    
    
    <div class="w3-third w3-container w3-margin">
      
        <table class="w3-container w3-table w3-bordered w3-striped w3-card-4 w3-small">
            <tr>
                <th>Available statuses:</th>
            </tr>
            <tr ng-repeat="status in currentIssue.AvailableStatuses">
                <td> - {{status.Name}}</td>
                <td>
                    <button>Change</button>
                </td>
            </tr>
        </table>
        
    </div>
</div>

    
</div>